.case {
	height: 5em;
	width: 5em;
}
.case>button, .case-won>button {
	font-size: 5em !important;
}

.case-won {
	height: 5em;
	width: 5em;
	background-color: #30d14b;
	animation: clignote 1s linear infinite;
}

@keyframes clignote {  
  80% { opacity: 0.3; }
}